@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import 'config';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


body{
    font-size: 62.5%;

    &.dark{
        .container{
            background-color: rgb(255, 255, 255);
            // color: white;


            .dashboard-one{
                .dashboard-top{
                    .dashboard-top__text{
                         h2{
                            color: $Very-Dark-Blue-bg;
                        }
                    }

                    .dashboard-top__toggle{
                        h3{
                            color: $Dark-Grayish-Blue-Text;
                        }
                    }
                }

                .dashboard-bottom{
                    .social-boxes{
                        .box{
                            background-color: $White-BG;
                            box-shadow: 2px 1px 9px 2px rgb(0,0,0,0.2);

                            &:hover{
                                background-color: $Light-Grayish-Blue-Card-BG;
                            }

                            span{
                                color: $Very-Dark-Blue-Text;
                            }

                            &.instagram{
    
    
                                // Delete when it's not working
    
                                position: relative;
                                // display:inline-block;
                                background-image: linear-gradient(90deg, #fdc468, #df4996);
                                text-align: center;
                                // color: #0075fa;
                                border-radius: .7rem;
                                font-weight: 600;
                                z-index:0;


                                &:hover{
                                    background-color: $Light-Grayish-Blue-Card-BG;
                                }


                                
    
    
                                &::before{
                                    content: '';
                                    position: absolute;
                                    /* specify the value of border width here */
                                    top: 3px;
                                    right: 0px;
                                    bottom:0px;
                                    left:0px;
                                    /* --- */
                                    background-color: $White-BG;
                                    border-radius: .7rem;
                                    box-sizing: border-box;
                                    z-index: -1;
                                    transition: .5s all ease-in-out;
                                }

                                &:hover::before{
                                    background-color: $Light-Grayish-Blue-Card-BG;
                                }
    
    
                                // Stop Delete
    
                            }
                            .numbers{
                                h3{
                                   color: $Very-Dark-Blue-Text; 
                                }
                                
                            }
                        }
                    }
                }
            }


            .dashboard-two{
                h3{
                    color: $Very-Dark-Blue-Text;
                }

                .overview-boxes{

                    .box{
                        background-color: $White-BG;
                        box-shadow: 2px 1px 9px 2px rgb(0,0,0,0.2);



                        &:hover{
                            background-color: $Light-Grayish-Blue-Card-BG;
                        }
                        .analytics{
                            p{
                                font-size: .9rem;
                                color: $Very-Dark-Blue-Text;
                                font-weight: 600;
                                margin: 0 0 1rem 0;
                            }

                            span{
                                color: $Very-Dark-Blue-Text;
                            }
                        }
                    }
                }
            }
           
        }



        

    }


    .container{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        background: $Very-Dark-Blue-bg;
        // background-image: linear-gradient(hsl(37, 97%, 70%),hsl(329, 70%, 58%) );

        .dashboard-one{

            // &.dark{
            //     color: blue;
            //     background-color: red;
            // }
            .dashboard-top{
                display: flex;
                justify-content: space-between;

                
                .dashboard-top__text{
                    h2{
                        font-size: 2rem;
                        color: $White-Text;
                    }

                    h4{
                        color: $Dark-Grayish-Blue-Text;
                        font-size: .9rem;
                        letter-spacing: .1rem;
                    }
                }


                .dashboard-top__toggle{

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    h3{
                        font-size: 1.5rem;
                        color: $Dark-Grayish-Blue-Text;
                        margin-top: 1rem;
                    }

                    .checkbox{
                        opacity: 0;
                        position: absolute;
                        &:checked + .label{
                            .ball{
                                transform: translateX(24px);
                            }

                            // .label{
                            //     background-color: $Dark-Grayish-Blue-Text;
                            // }
                        }
                    }

                    .label{
                        width: 50px;
                        height: 1.5rem;
                        background: $dark-mode-toggle;
                        display: flex;
                        margin-top: .7rem;
                        border-radius: 50px;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px;
                        position: relative;
                        transform: scale(1.5);

                        .ball{
                            width: 20px;
                            height: 20px;
                            background-color: white;
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            border-radius: 50%;
                            transition: transform 0.2s linear;
                        }
                    }
                  
                }
            }


            .dashboard-bottom{
                .social-boxes{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2rem;
                    margin-top: 2rem;
                    text-align: start;

                    .box{
                        background-color: $Dark-Desaturated-Blue-Card-BG;
                        padding: 3rem;
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: .7rem;
                        text-align: left;
                        box-shadow: 2px 4px 8px 2px rgb(0,0,0,0.2);
                        transition: .5s all ease-in-out;


                        &:hover{
                            background-color:$Dark-Grayish-Blue-Text;
                        }

                        span{
                            color: $Desaturated-Blue-Text-;
                            font-weight: bold;
                            font-size: .9rem;
                            margin-left: 1rem;
                            letter-spacing: .176rem;
                        }

                        .numbers{
                            h3{
                                font-size: 2.8rem;
                                color: $White-Text;
                                text-align: center;
                            }

                            span{
                                text-align: left;
                                font-size: .8rem;
                                text-transform: uppercase;
                                letter-spacing: .4rem;
                            }
                        }

                        p{
                            margin-top: 1rem;
                            font-size: .9rem;
                            align-items: center;
                        }


                        .green{
                            color: $Lime-Green;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                        .red{
                            color: $Bright-Red;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                        &.facebook{
                            border-top: 3px solid $Facebook;

                            .fa-brands{
                                font-size: 2rem;
                                color: $Facebook;
                            }
                        }

                        &.twitter{
                            border-top: 3px solid $Twitter;

                            .fa-brands{
                                font-size: 2rem;
                                color: $Twitter;
                            }


                        }

                        &.instagram{
                            // border-radius: 1rem;
                            // border-block-start: 3px solid;
                            // border-image-source: linear-gradient(90deg,#fdc468,#df4996);
                            // border-image-slice: 1;
                            // border-start-end-radius: 80px 80px;


                            // Delete when it's not working

                            position: relative;
                            // display:inline-block;
                            background-image: linear-gradient(90deg, #fdc468, #df4996);
                            text-align: center;
                            color: #485564;
                            border-radius: .7rem;
                            overflow: hidden;
                            // font-size: 14px;
                            font-weight: 600;
                            z-index:0;


                            &::before{
                                content: '';
                                position: absolute;
                                /* specify the value of border width here */
                                top: 3px;
                                right: 0px;
                                bottom:0px;
                                left:0px;
                                /* --- */
                                background-color: $Dark-Desaturated-Blue-Card-BG;
                                border-radius: .7rem;
                                box-sizing: border-box;
                                z-index: -1;
                            }
                            


                            // Stop Delete

                            .fa-brands{
                                font-size: 2rem;
                                background-color:linear-gradient(90deg,#fdc468,#df4996) ;
                                background: -webkit-gradient(linear, left top, left bottom, from(#fdc468), to(#df4996)); -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }

                        &.youtube{
                            border-top: 3px solid $YouTube;

                            .fa-brands{
                                font-size: 2rem;
                                color: $YouTube;
                            }
                        }
                    }
                }
            }
        }
    }



    .dashboard-two{
        // background-color: #df4996;
        margin: 2rem 0;

        h3{
            color: $White-Text;
            font-size: 1.8rem;
            margin:0 0 2rem 0;
        }

        .overview-boxes{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;

            .box{
                background-color: $Dark-Desaturated-Blue-Card-BG;
                border-radius: .5rem;
                padding: 1.5rem;
                display: flex;
                cursor: pointer;
                box-shadow: 2px 4px 8px 2px rgb(0,0,0,0.2);
                transition: .5s all ease-in-out;
                justify-content: space-between;

                &:hover{
                    background-color:$Dark-Grayish-Blue-Text;
                }

                .analytics{
                    p{
                        font-size: .9rem;
                        color: $Desaturated-Blue-Text-;
                        font-weight: 600;
                        margin: 0 0 1rem 0;
                    }
                }


                .number{

                    
                    .green{
                        color: $Lime-Green;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: .8rem;
                        letter-spacing: 2px;
                    }
                    .red{
                        color: $Bright-Red;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: .9rem;
                        letter-spacing: 2px;
                    }


                    .fa-brands{
                        margin: 0 0 1rem 0;
                    }
                    .fa-square-facebook{
                        font-size: 1.5rem;
                        color: $Facebook;
                    }

                    .fa-twitter{
                        font-size: 1.5rem;
                        color: $Twitter;
                    }


                    .fa-instagram{
                        font-size: 1.5rem;
                        background-color:linear-gradient(90deg,#fdc468,#df4996) ;
                        background: -webkit-gradient(linear, left top, left bottom, from(#fdc468), to(#df4996)); 
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .fa-youtube{
                        font-size: 1.5rem;
                        color: $YouTube;
                    }

                }
            }

            span{
                color: $White-BG;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }


    // &.dark{
    //         color: red;
    // }
}


@media only screen and (max-width: 1150px) {
    body{
        .container{
            .dashboard-one{

                .dashboard-bottom{
                    .social-boxes{

                        gap: 1.5rem;
                        .box{
                            padding: 2rem;

                            .numbers{
                                h3{
                                    font-size: 2.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    body{
        .container{
            .dashboard-one{

                .dashboard-bottom{
                    .social-boxes{

                        gap: 1.5rem;
                        .box{
                            padding: 1.5rem;

                            .numbers{
                                h3{
                                    font-size: 2.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 940px) {
    body{
        .container{
            .dashboard-one{

                .dashboard-bottom{
                    .social-boxes{
                        grid-template-columns: repeat(2, 1fr);
                        gap: 2rem;
                        .box{
                            padding: 1.5rem;

                            .numbers{
                                h3{
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }


            .dashboard-two{
                .overview-boxes{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}



@media only screen and (max-width: 520px) {
    body{
        .container{
            .dashboard-one{

                .dashboard-bottom{
                    .social-boxes{
                        grid-template-columns: repeat(2, 1fr);
                        gap: 1.5rem;
                        .box{
                            padding: 1rem;

                            .numbers{
                                h3{
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
            }


            .dashboard-two{
                .overview-boxes{
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}



@media only screen and (max-width: 480px) {
    body{
        .container{
            .dashboard-one{

                .dashboard-top{
                    flex-direction: column;
                    .dashboard-top__text{
                        margin: 0 0 2rem 0;

                        h2{
                            font-size: 1.5rem;
                        }
                    }

                    .dashboard-top__toggle{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;
                        border-top: .1rem solid $Dark-Grayish-Blue-Text;

                        h3{
                            font-size: 1.5rem;
                            color: $Dark-Grayish-Blue-Text;
                            margin-top: 1rem;
                        }

                        .label{
                            margin-top: 1rem;
                        }

                    }
                }

                .dashboard-bottom{
                    .social-boxes{
                        grid-template-columns: 1fr;
                        gap: 2rem;
                        .box{
                            padding: 1.5rem;

                            .numbers{
                                h3{
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }


            .dashboard-two{
                .overview-boxes{
                    grid-template-columns:1fr;
                }
            }
        }
    }
}




@media only screen and (max-width: 350px) {
    body{
        .container{
            .dashboard-one{
                .dashboard-top{
                    .dashboard-top__text{
                        // margin: 0 0 2rem 0;

                        h2{
                            font-size: 1.4rem;
                        }
                    }

                }

                .dashboard-bottom{
                    .social-boxes{
                        .box{
                            padding: 1rem;

                            .numbers{
                                h3{
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
            }


            .dashboard-two{
                .overview-boxes{
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}




// .card-approve-btn {
//     position: relative;
//     display:inline-block;
//     background-image: linear-gradient(291deg, #ffb37c, #f9514f);
//     padding:5rem;
//     line-height:30px;
//     text-align: center;
//     color: #485564;
//     border-radius: 6px;
//     overflow: hidden;
//     font-size: 14px;
//     font-weight: 600;
//     z-index:0;
//   }
  
//   .card-approve-btn:before {
//     content: '';
//     position: absolute;
//     /* specify the value of border width here */
//     top: 4px;
//     right: 4px;
//     bottom: 4px;
//     left: 4px;
//     /* --- */
//     background-color: #fff;
//     border-radius: 5px;
//     box-sizing: border-box;
//     z-index: -1;
//   }